## Homework 2 Submission
Write your name and surname below:
<br>
Name: Lilit
<br>
Surname: Khachatryan

***Problem 1:***<br>a. Write a lambda function that raises a number to the third power and maps it on the following list creating a new list named "result".<br>
b.  Define a function that takes a number as an input and returns True if it is odd and False otherwise. Filter "result" list keeping only odd numbers using the function defined.

In [ ]:
#a 
nums = [3, 4, 5, 6, 7]

result=list(map(lambda x: x**3,nums))
print(result)

In [ ]:
#b

def odd(x):
    if x%2==1:
        return x
    
result=list(filter(odd,nums))
result

***Problem 2:*** <br>Write a program that asks a user to provide  a name  and a surname and returns a new email with  "@edu.aua.am" ending and underscore between the name and surname.<br> **Example**:
For a person named Steve Jobs the email should be steve_jobs@edu.aua.am.

In [ ]:

name = input("Enter your name: ").lower()
surname = input("Enter your surname: ").lower()
email =  name + '_' + surname + '@edu.aua.am'
print('Your AUA email is: ', email)

***Problem 3:*** <br> a. Use an assert statement to make sure that the passed list is not empty and if it is empty report it with an expression that tells the list being empty <br>b. Write a function that asks a user to input numbers separated by a comma and return the average of numbers.<br> Make sure to warn the user if he/she provided as an input anything other than number.<br>
**Hint:** You can use try/except.

In [64]:
#a
def avg(marks):
    assert (len(marks)>0), "The input list is empty" 
    

    return sum(marks)/len(marks)

mark1 = []
print("Average of mark1:",avg(mark1))

AssertionError: The input list is empty

In [65]:
#b
def avg():
    input1=input("Enter numbers seperated by commas:")
    nums=input1.replace(",","")
    ls=list(nums)
    sum=0
    try:
        for i in ls:
            sum+=int(i)
        return sum/len(ls)
    except ValueError:
        print("The input is not valid")
avg()

Enter numbers seperated by commas:6,7,8

7.0

***Problem 4:***  <br>Given the list below, create a new one that contains all the numeric elements of the nested lists using list comprehensions.<br>
**Note:** "10" is numeric. <br>
**Hint:** Use isdigit() method to check whether a string is numeric.

In [ ]:
list_of_list = [[1,"I am a string",2,3],[4,"5",6,"Not a number"],[7,8,9,"10"]]

new_list = [y for x in list_of_list for y in x]
a =[i for i in new_list if str(i).isdigit()]
print(a)

***Problem 5:***<br>Increase the following data scientists' salaries by 10 percent except for Lord Voldemort using dictionary comprehension.

In [ ]:
Data_Scientist={"Harry Potter":700,"Ron Weasley":650,"Lord Voldemort":900,"Hermione Granger":800,"Albus Dumbledore":1000}
new_dict = {}
for k, v in Data_Scientist.items():
    
    if k != 'Lord Voldemort':
        v = int(v + v*0.1)
    new_dict[k] = v    
print(new_dict)

***Problem 6:***<br>a. Create a new folder in your current directory named "files" and change directory into that folder.<br>
b. There are 4 famous quotes in "quotes" list provided below. Create/write 4 separate txt files one for each quote.<br>
c. List all the files in "files" directory and loop over the files to read the quotes and write all quotes in a new txt file called "combined.txt".
<br>**Note: Do not forget to change back to your working directory for the remaining problems.**

In [ ]:
#a
import os
#os.mkdir("files") ## I commented it in order to escape errors by running code several times 
os.chdir('files')

In [ ]:
#b
quotes=["I'm going to make him an offer he can't refuse.",
"The first rule of Fight Club is: You do not talk about Fight Club.",
"Of all the gin joints in all the towns in all the world, she walks into mine.", 
"Being brave doesn't mean you go looking for troubleâ€¤"]

files = ['file1', 'file2', 'file3', 'file4']
for i,j in zip(files,quotes):
    with open(str(i)+".txt","w",encoding="utf-8") as a:
        a.write(j)

In [ ]:
#c
all_quotes = os.listdir()
new_quote = ' '
for i in all_quotes:
    b = open(i, 'r')
    c = b.read()
    new_quote = new_quote + c
    b.close
    
    
nf=open("combined.txt","w", encoding="utf-8")
nf.write(new_quote) # Output shows the length of the file
nf.close()

***Problem 7:***
<br>a. Calculate the value of "string" expression given below.<br>
b. Execute the code written in "code.txt" file attached.

In [1]:
#a
a=5
c=2
string='round((a+51)**c/75,-1)+1'
print(eval(string))

41.0

In [2]:
#b
program = open("code.txt","r")
text = program.read()
program.close()

exec(text)

x is 2,y is 4 and z is 3
x**y+z is 19
Hello, I am your code

***Problem 8:***<br>
**a.**<br> Our 5 students' test scores are now stored in the 2-d array "student_scores". Each row stores the corresponding test's scores. <br>
Calculate the mean of grades of each student(columns) and the median of grades per test (rows)?

In [66]:
import numpy as np
student_scores = np.array([[92, 94, 88, 91, 87],
                           [79, 100, 86, 93, 91],
                           [87, 85, 72, 90, 92]])

import numpy as np
import statistics as st
student_scores = np.array([[92, 94, 88, 91, 87],
                           [79, 100, 86, 93, 91],
                           [87, 85, 72, 90, 92]])

for i in range(student_scores.shape[1]):
    print("Mean of grades of this student")
    print(st.mean(student_scores[:,i]))

for i in range(student_scores.shape[0]):
    print("Median of grades of this test")
    print(st.median(student_scores[i,:]))

Mean of grades of this student
86
Mean of grades of this student
93
Mean of grades of this student
82
Mean of grades of this student
91
Mean of grades of this student
90
Median of grades of this test
91
Median of grades of this test
91
Median of grades of this test
87

**b.**<br>
Create a logical statement that selects elements in "porridge" array that are less than 60, and saves them in a new array called "cold".<br>
Create a logical statement that finds all elements that are higher than 80 and saves them in an array named "hot".

In [70]:
porridge = np.array([79, 65, 50, 63, 56, 90, 85, 98, 79, 51])

cold = np.array([x for x in porridge if x < 60])
hot = np.array([x for x in porridge if x > 80])
print(cold)
print(hot)

[50 56 51]
[90 85 98]

***Problem 9:***<br><br>**Note:** You do not have to create arrays mannualy; you can use NumPy methods for the below assignments.
<br>**a.** Create a null vector of length 100 then assign 10 to 5th value.<br>
**b.** Create a vector of length 10 with random integers between 1 and 10.<br>
**c.** Convert the given 1D array to a 2D array with 5 rows and 2 columns.
<br> **Hint:** You can use numpy's reshape, random.randint, random.random methods for the below assignments.

In [71]:
#a
vector=np.zeros(100)
vector[4]=10
print(vector)

[ 0.  0.  0.  0. 10.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]

In [72]:
#b hanel
import random
np.random.randint(11, size = 10)

array([4, 2, 5, 8, 5, 4, 1, 4, 3, 9])

In [73]:
#c
arr=np.array([ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
new_arr=np.reshape(arr,(5,2))
new_arr

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

***Problem 10:***<br>
Create a DataFrame with the provided data. We have already filled in the information for "Product ID" in "df1".<br>
Write a code to create the columns "Product Name" and "Color" with the data given below.</center><br>
Products are a pair of blue jeans, a green t-shirt, a black hat and white shoes.<br>
After all output (save) it as an .xlsx file in your current directory.

In [76]:
df1 = pd.DataFrame({
    'Product ID': [1, 2, 3, 4],
    'Product Name': ["jeans","t-shirt","hat","shoes"],
    'Color': ["blue","green ","black","white"]
})
df1.to_excel("df1.xlsx",index=False)

***Problem 11:***<br>Read the attached file "titanic.csv" as DataFrame "df", have a look at first 5 rows and get information about the dataset using info() method.</strong><br>

In [77]:
import pandas as pd

df = pd.read_csv('titanic.csv')
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
pclass       1309 non-null int64
survived     1309 non-null int64
name         1309 non-null object
sex          1309 non-null object
age          1046 non-null float64
sibsp        1309 non-null int64
parch        1309 non-null int64
ticket       1309 non-null object
fare         1308 non-null float64
cabin        295 non-null object
embarked     1307 non-null object
boat         486 non-null object
body         121 non-null float64
home.dest    745 non-null object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.2+ KB

Here is the description of dataset columns:
survival - Survival (0 = No; 1 = Yes)<br>
class - Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)<br>
sex - Sex<br>
age - Age<br>
sibsp - Number of Siblings/Spouses Aboard<br>
parch - Number of Parents/Children Aboard<br>
ticket - Ticket Numbe
fare - Passenger Fare<br>
cabin - Cabin<br>
embarked - Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)<br>
boat - Lifeboat (if survived)<br>
body - Body number (if did not survive and body was recovered)<br>
home.dest - Adress of people
<br><br>
a. Drop columns cabin, embarked, boat, body, home.dest.

In [57]:
#a
df1 = df.columns.tolist()
new_df = [i for i in df1 if (i != 'cabin') & (i != 'embarked') & (i != 'body') & (i != 'boat') & (i != 'home.dest')]
df.loc[:, new_df]

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500
5,1,1,"Anderson, Mr. Harry",male,48.00,0,0,19952,26.5500
6,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.00,1,0,13502,77.9583
7,1,0,"Andrews, Mr. Thomas Jr",male,39.00,0,0,112050,0.0000
8,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.00,2,0,11769,51.4792
9,1,0,"Artagaveytia, Mr. Ramon",male,71.00,0,0,PC 17609,49.5042
10,1,0,"Astor, Col. John Jacob",male,47.00,1,0,PC 17757,227.5250
11,1,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.00,1,0,PC 17757,227.5250
12,1,1,"Aubart, Mme. Leontine Pauline",female,24.00,0,0,PC 17477,69.3000
13,1,1,"Barber, Miss. Ellen ""Nellie""",female,26.00,0,0,19877,78.8500
14,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.00,0,0,27042,30.0000
15,1,0,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.9250
16,1,0,"Baxter, Mr. Quigg Edmond",male,24.00,0,1,PC 17558,247.5208
17,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.00,0,1,PC 17558,247.5208
18,1,1,"Bazzani, Miss. Albina",female,32.00,0,0,11813,76.2917
19,1,0,"Beattie, Mr. Thomson",male,36.00,0,0,13050,75.2417
20,1,1,"Beckwith, Mr. Richard Leonard",male,37.00,1,1,11751,52.5542
21,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.00,1,1,11751,52.5542
22,1,1,"Behr, Mr. Karl Howell",male,26.00,0,0,111369,30.0000
23,1,1,"Bidois, Miss. Rosalie",female,42.00,0,0,PC 17757,227.5250
24,1,1,"Bird, Miss. Ellen",female,29.00,0,0,PC 17483,221.7792
25,1,0,"Birnbaum, Mr. Jakob",male,25.00,0,0,13905,26.0000
26,1,1,"Bishop, Mr. Dickinson H",male,25.00,1,0,11967,91.0792
27,1,1,"Bishop, Mrs. Dickinson H (Helen Walton)",female,19.00,1,0,11967,91.0792
28,1,1,"Bissette, Miss. Amelia",female,35.00,0,0,PC 17760,135.6333
29,1,1,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",male,28.00,0,0,110564,26.5500
...,...,...,...,...,...,...,...,...,...
1279,3,0,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0,0,350406,7.8542
1280,3,0,"Vovk, Mr. Janko",male,22.00,0,0,349252,7.8958
1281,3,0,"Waelens, Mr. Achille",male,22.00,0,0,345767,9.0000
1282,3,0,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500
1283,3,0,"Warren, Mr. Charles William",male,NaN,0,0,C.A. 49867,7.5500
1284,3,0,"Webber, Mr. James",male,NaN,0,0,SOTON/OQ 3101316,8.0500
1285,3,0,"Wenzel, Mr. Linhart",male,32.50,0,0,345775,9.5000
1286,3,1,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,38.00,0,0,2688,7.2292
1287,3,0,"Widegren, Mr. Carl/Charles Peter",male,51.00,0,0,347064,7.7500
1288,3,0,"Wiklund, Mr. Jakob Alfred",male,18.00,1,0,3101267,6.4958
1289,3,0,"Wiklund, Mr. Karl Johan",male,21.00,1,0,3101266,6.4958
1290,3,1,"Wilkes, Mrs. James (Ellen Needs)",female,47.00,1,0,363272,7.0000
1291,3,0,"Willer, Mr. Aaron (""Abi Weller"")",male,NaN,0,0,3410,8.7125
1292,3,0,"Willey, Mr. Edward",male,NaN,0,0,S.O./P.P. 751,7.5500
1293,3,0,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.0500
1294,3,0,"Williams, Mr. Leslie",male,28.50,0,0,54636,16.1000
1295,3,0,"Windelov, Mr. Einar",male,21.00,0,0,SOTON/OQ 3101317,7.2500
1296,3,0,"Wirz, Mr. Albert",male,27.00,0,0,315154,8.6625
1297,3,0,"Wiseman, Mr. Phillippe",male,NaN,0,0,A/4. 34244,7.2500
1298,3,0,"Wittevrongel, Mr. Camille",male,36.00,0,0,345771,9.5000
1299,3,0,"Yasbeck, Mr. Antoni",male,27.00,1,0,2659,14.4542
1300,3,1,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.00,1,0,2659,14.4542
1301,3,0,"Youseff, Mr. Gerious",male,45.50,0,0,2628,7.2250
1302,3,0,"Yousif, Mr. Wazli",male,NaN,0,0,2647,7.2250
1303,3,0,"Yousseff, Mr. Gerious",male,NaN,0,0,2627,14.4583
1304,3,0,"Zabour, Miss. Hileni",female,14.50,1,0,2665,14.4542
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.50,0,0,2656,7.2250
1307,3,0,"Zakarian, Mr. Ortin",male,27.00,0,0,2670,7.2250
1308,3,0,"Zimmerman, Mr. Leo",male,29.00,0,0,315082,7.8750

b. Check how many rows contain missing values.

In [58]:
#b

df_missing = df.isna()
df_missing

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,False,False,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,False,False,True,True,False
3,False,False,False,False,False,False,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False,False,False,False,False,True,True,False
5,False,False,False,False,False,False,False,False,False,False,False,False,True,False
6,False,False,False,False,False,False,False,False,False,False,False,False,True,False
7,False,False,False,False,False,False,False,False,False,False,False,True,True,False
8,False,False,False,False,False,False,False,False,False,False,False,False,True,False
9,False,False,False,False,False,False,False,False,False,True,False,True,False,False
10,False,False,False,False,False,False,False,False,False,False,False,True,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,True,False
12,False,False,False,False,False,False,False,False,False,False,False,False,True,False
13,False,False,False,False,False,False,False,False,False,True,False,False,True,True
14,False,False,False,False,False,False,False,False,False,False,False,False,True,False
15,False,False,False,False,True,False,False,False,False,True,False,True,True,False
16,False,False,False,False,False,False,False,False,False,False,False,True,True,False
17,False,False,False,False,False,False,False,False,False,False,False,False,True,False
18,False,False,False,False,False,False,False,False,False,False,False,False,True,True
19,False,False,False,False,False,False,False,False,False,False,False,False,True,False
20,False,False,False,False,False,False,False,False,False,False,False,False,True,False
21,False,False,False,False,False,False,False,False,False,False,False,False,True,False
22,False,False,False,False,False,False,False,False,False,False,False,False,True,False
23,False,False,False,False,False,False,False,False,False,True,False,False,True,True
24,False,False,False,False,False,False,False,False,False,False,False,False,True,True
25,False,False,False,False,False,False,False,False,False,True,False,True,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False,True,False
27,False,False,False,False,False,False,False,False,False,False,False,False,True,False
28,False,False,False,False,False,False,False,False,False,False,False,False,True,True
29,False,False,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,False,False,False,False,False,False,False,False,False,True,False,True,True,True
1280,False,False,False,False,False,False,False,False,False,True,False,True,True,True
1281,False,False,False,False,False,False,False,False,False,True,False,True,True,False
1282,False,False,False,False,True,False,False,False,False,True,False,True,True,True
1283,False,False,False,False,True,False,False,False,False,True,False,True,True,True
1284,False,False,False,False,True,False,False,False,False,True,False,True,True,True
1285,False,False,False,False,False,False,False,False,False,True,False,True,False,True
1286,False,False,False,False,False,False,False,False,False,True,False,False,True,True
1287,False,False,False,False,False,False,False,False,False,True,False,True,True,True
1288,False,False,False,False,False,False,False,False,False,True,False,True,False,True
1289,False,False,False,False,False,False,False,False,False,True,False,True,True,True
1290,False,False,False,False,False,False,False,False,False,True,False,True,True,True
1291,False,False,False,False,True,False,False,False,False,True,False,True,True,True
1292,False,False,False,False,True,False,False,False,False,True,False,True,True,True
1293,False,False,False,False,True,False,False,False,False,True,False,True,True,True
1294,False,False,False,False,False,False,False,False,False,True,False,True,False,True
1295,False,False,False,False,False,False,False,False,False,True,False,True,True,True
1296,False,False,False,False,False,False,False,False,False,True,False,True,False,True
1297,False,False,False,False,True,False,False,False,False,True,False,True,True,True
1298,False,False,False,False,False,False,False,False,False,True,False,True,True,True
1299,False,False,False,False,False,False,False,False,False,True,False,False,True,True
1300,False,False,False,False,False,False,False,False,False,True,False,True,True,True
1301,False,False,False,False,False,False,False,False,False,True,False,True,False,True
1302,False,False,False,False,True,False,False,False,False,True,False,True,True,True
1303,False,False,False,False,True,False,False,False,False,True,False,True,True,True
1304,False,False,False,False,False,False,False,False,False,True,False,True,False,True
1305,False,False,False,False,True,False,False,False,False,True,False,True,True,True
1306,False,False,False,False,False,False,False,False,False,True,False,True,False,True
1307,False,False,False,False,False,False,False,False,False,True,False,True,True,True
1308,False,False,False,False,False,False,False,False,False,True,False,True,True,True

c. Fill missing values in age column by its mean or median.

In [59]:
#c
import statistics
meanval = int(df["age"].mean())
print(meanval)
df = df.replace(np.nan, meanval)
df

29

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S,2,29.0,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,11,29.0,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,29,29.0,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S,29,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S,29,29.0,"Montreal, PQ / Chesterville, ON"
5,1,1,"Anderson, Mr. Harry",male,48.00,0,0,19952,26.5500,E12,S,3,29.0,"New York, NY"
6,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.00,1,0,13502,77.9583,D7,S,10,29.0,"Hudson, NY"
7,1,0,"Andrews, Mr. Thomas Jr",male,39.00,0,0,112050,0.0000,A36,S,29,29.0,"Belfast, NI"
8,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.00,2,0,11769,51.4792,C101,S,D,29.0,"Bayside, Queens, NY"
9,1,0,"Artagaveytia, Mr. Ramon",male,71.00,0,0,PC 17609,49.5042,29,C,29,22.0,"Montevideo, Uruguay"
10,1,0,"Astor, Col. John Jacob",male,47.00,1,0,PC 17757,227.5250,C62 C64,C,29,124.0,"New York, NY"
11,1,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.00,1,0,PC 17757,227.5250,C62 C64,C,4,29.0,"New York, NY"
12,1,1,"Aubart, Mme. Leontine Pauline",female,24.00,0,0,PC 17477,69.3000,B35,C,9,29.0,"Paris, France"
13,1,1,"Barber, Miss. Ellen ""Nellie""",female,26.00,0,0,19877,78.8500,29,S,6,29.0,29
14,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.00,0,0,27042,30.0000,A23,S,B,29.0,"Hessle, Yorks"
15,1,0,"Baumann, Mr. John D",male,29.00,0,0,PC 17318,25.9250,29,S,29,29.0,"New York, NY"
16,1,0,"Baxter, Mr. Quigg Edmond",male,24.00,0,1,PC 17558,247.5208,B58 B60,C,29,29.0,"Montreal, PQ"
17,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.00,0,1,PC 17558,247.5208,B58 B60,C,6,29.0,"Montreal, PQ"
18,1,1,"Bazzani, Miss. Albina",female,32.00,0,0,11813,76.2917,D15,C,8,29.0,29
19,1,0,"Beattie, Mr. Thomson",male,36.00,0,0,13050,75.2417,C6,C,A,29.0,"Winnipeg, MN"
20,1,1,"Beckwith, Mr. Richard Leonard",male,37.00,1,1,11751,52.5542,D35,S,5,29.0,"New York, NY"
21,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.00,1,1,11751,52.5542,D35,S,5,29.0,"New York, NY"
22,1,1,"Behr, Mr. Karl Howell",male,26.00,0,0,111369,30.0000,C148,C,5,29.0,"New York, NY"
23,1,1,"Bidois, Miss. Rosalie",female,42.00,0,0,PC 17757,227.5250,29,C,4,29.0,29
24,1,1,"Bird, Miss. Ellen",female,29.00,0,0,PC 17483,221.7792,C97,S,8,29.0,29
25,1,0,"Birnbaum, Mr. Jakob",male,25.00,0,0,13905,26.0000,29,C,29,148.0,"San Francisco, CA"
26,1,1,"Bishop, Mr. Dickinson H",male,25.00,1,0,11967,91.0792,B49,C,7,29.0,"Dowagiac, MI"
27,1,1,"Bishop, Mrs. Dickinson H (Helen Walton)",female,19.00,1,0,11967,91.0792,B49,C,7,29.0,"Dowagiac, MI"
28,1,1,"Bissette, Miss. Amelia",female,35.00,0,0,PC 17760,135.6333,C99,S,8,29.0,29
29,1,1,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",male,28.00,0,0,110564,26.5500,C52,S,D,29.0,"Stockholm, Sweden / Washington, DC"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,3,0,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0,0,350406,7.8542,29,S,29,29.0,29
1280,3,0,"Vovk, Mr. Janko",male,22.00,0,0,349252,7.8958,29,S,29,29.0,29
1281,3,0,"Waelens, Mr. Achille",male,22.00,0,0,345767,9.0000,29,S,29,29.0,"Antwerp, Belgium / Stanton, OH"
1282,3,0,"Ware, Mr. Frederick",male,29.00,0,0,359309,8.0500,29,S,29,29.0,29
1283,3,0,"Warren, Mr. Charles William",male,29.00,0,0,C.A. 49867,7.5500,29,S,29,29.0,29
1284,3,0,"Webber, Mr. James",male,29.00,0,0,SOTON/OQ 3101316,8.0500,29,S,29,29.0,29
1285,3,0,"Wenzel, Mr. Linhart",male,32.50,0,0,345775,9.5000,29,S,29,298.0,29
1286,3,1,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,38.00,0,0,2688,7.2292,29,C,C,29.0,29
1287,3,0,"Widegren, Mr. Carl/Charles Peter",male,51.00,0,0,347064,7.7500,29,S,29,29.0,29
1288,3,0,"Wiklund, Mr. Jakob Alfred",male,18.00,1,0,3101267,6.4958,29,S,29,314.0,29
1289,3,0,"Wiklund, Mr. Karl Johan",male,21.00,1,0,3101266,6.4958,29,S,29,29.0,29
1290,3,1,"Wilkes, Mrs. James (Ellen Needs)",female,47.00,1,0,363272,7.0000,29,S,29,29.0,29
1291,3,0,"Willer, Mr. Aaron (""Abi Weller"")",male,29.00,0,0,3410,8.7125,29,S,29,29.0,29
1292,3,0,"Willey, Mr. Edward",male,29.00,0,0,S.O./P.P. 751,7.5500,29,S,29,29.0,29
1293,3,0,"Williams, Mr. Howard Hugh ""Harry""",male,29.00,0,0,A/5 2466,8.0500,29,S,29,29.0,29
1294,3,0,"Williams, Mr. Leslie",male,28.50,0,0,54636,16.1000,29,S,29,14.0,29
1295,3,0,"Windelov, Mr. Einar",male,21.00,0,0,SOTON/OQ 3101317,7.2500,29,S,29,29.0,29
1296,3,0,"Wirz, Mr. Albert",male,27.00,0,0,315154,8.6625,29,S,29,131.0,29
1297,3,0,"Wiseman, Mr. Phillippe",male,29.00,0,0,A/4. 34244,7.2500,29,S,29,29.0,29
1298,3,0,"Wittevrongel, Mr. Camille",male,36.00,0,0,345771,9.5000,29,S,29,29.0,29
1299,3,0,"Yasbeck, Mr. Antoni",male,27.00,1,0,2659,14.4542,29,C,C,29.0,29
1300,3,1,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.00,1,0,2659,14.4542,29,C,29,29.0,29
1301,3,0,"Youseff, Mr. Gerious",male,45.50,0,0,2628,7.2250,29,C,29,312.0,29
1302,3,0,"Yousif, Mr. Wazli",male,29.00,0,0,2647,7.2250,29,C,29,29.0,29
1303,3,0,"Yousseff, Mr. Gerious",male,29.00,0,0,2627,14.4583,29,C,29,29.0,29
1304,3,0,"Zabour, Miss. Hileni",female,14.50,1,0,2665,14.4542,29,C,29,328.0,29
1305,3,0,"Zabour, Miss. Thamine",female,29.00,1,0,2665,14.4542,29,C,29,29.0,29
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.50,0,0,2656,7.2250,29,C,29,304.0,29
1307,3,0,"Zakarian, Mr. Ortin",male,27.00,0,0,2670,7.2250,29,C,29,29.0,29
1308,3,0,"Zimmerman, Mr. Leo",male,29.00,0,0,315082,7.8750,29,S,29,29.0,29

d. Drop remaining missing values.

In [60]:
#d
df = df.replace(np.nan, '')
df
missing = df.isna()
missing

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1280,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1281,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1282,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1283,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1284,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1285,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1286,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1287,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1288,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1289,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1290,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1291,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1292,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1293,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1294,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1295,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1296,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1297,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1298,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1299,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1300,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1301,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1302,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1303,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1304,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1305,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1306,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1307,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1308,False,False,False,False,False,False,False,False,False,False,False,False,False,False

e. Calculate the percent of survived and not survived by sex.

In [61]:
#e
survived = df.survived.tolist()
gender = df.sex.tolist()
f_surv = 0
m_surv = 0
m = 0
f = 0
i = 0
while i < len(survived):
    if (survived[i] == 1 and gender[i] == "female"):
        f_surv = f_surv + 1
    elif (survived[i] == 1 and gender[i] == "male"):
        m_surv = m_surv + 1
    i = i + 1
    
for j in gender:
    if j == "male":
        m += 1
    elif j =="female":
        f+= 1

print("Percent of survived females is ", (f_surv/f)*100, '%')
print("Percent of survived males is ", (m_surv/m)*100, '%')

Percent of survived females is  72.74678111587983 %
Percent of survived males is  19.098457888493474 %

f. Create a new column named "fare_AMD" with the prices of tickets in AMD (1 USD = 485 AMD).<br>
**Hint:** You can do it by applying a function on column "fare".

In [62]:
#f
df["fare_AMD"] = df["fare"].apply(lambda x : str(x*485)) 
df

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,fare_AMD
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S,2,29.0,"St Louis, MO",102498.6875
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,11,29.0,"Montreal, PQ / Chesterville, ON",73501.75
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,29,29.0,"Montreal, PQ / Chesterville, ON",73501.75
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S,29,135.0,"Montreal, PQ / Chesterville, ON",73501.75
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S,29,29.0,"Montreal, PQ / Chesterville, ON",73501.75
5,1,1,"Anderson, Mr. Harry",male,48.00,0,0,19952,26.5500,E12,S,3,29.0,"New York, NY",12876.75
6,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.00,1,0,13502,77.9583,D7,S,10,29.0,"Hudson, NY",37809.775499999996
7,1,0,"Andrews, Mr. Thomas Jr",male,39.00,0,0,112050,0.0000,A36,S,29,29.0,"Belfast, NI",0.0
8,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.00,2,0,11769,51.4792,C101,S,D,29.0,"Bayside, Queens, NY",24967.412
9,1,0,"Artagaveytia, Mr. Ramon",male,71.00,0,0,PC 17609,49.5042,29,C,29,22.0,"Montevideo, Uruguay",24009.537
10,1,0,"Astor, Col. John Jacob",male,47.00,1,0,PC 17757,227.5250,C62 C64,C,29,124.0,"New York, NY",110349.625
11,1,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.00,1,0,PC 17757,227.5250,C62 C64,C,4,29.0,"New York, NY",110349.625
12,1,1,"Aubart, Mme. Leontine Pauline",female,24.00,0,0,PC 17477,69.3000,B35,C,9,29.0,"Paris, France",33610.5
13,1,1,"Barber, Miss. Ellen ""Nellie""",female,26.00,0,0,19877,78.8500,29,S,6,29.0,29,38242.25
14,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.00,0,0,27042,30.0000,A23,S,B,29.0,"Hessle, Yorks",14550.0
15,1,0,"Baumann, Mr. John D",male,29.00,0,0,PC 17318,25.9250,29,S,29,29.0,"New York, NY",12573.625
16,1,0,"Baxter, Mr. Quigg Edmond",male,24.00,0,1,PC 17558,247.5208,B58 B60,C,29,29.0,"Montreal, PQ",120047.588
17,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.00,0,1,PC 17558,247.5208,B58 B60,C,6,29.0,"Montreal, PQ",120047.588
18,1,1,"Bazzani, Miss. Albina",female,32.00,0,0,11813,76.2917,D15,C,8,29.0,29,37001.474500000004
19,1,0,"Beattie, Mr. Thomson",male,36.00,0,0,13050,75.2417,C6,C,A,29.0,"Winnipeg, MN",36492.2245
20,1,1,"Beckwith, Mr. Richard Leonard",male,37.00,1,1,11751,52.5542,D35,S,5,29.0,"New York, NY",25488.787
21,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.00,1,1,11751,52.5542,D35,S,5,29.0,"New York, NY",25488.787
22,1,1,"Behr, Mr. Karl Howell",male,26.00,0,0,111369,30.0000,C148,C,5,29.0,"New York, NY",14550.0
23,1,1,"Bidois, Miss. Rosalie",female,42.00,0,0,PC 17757,227.5250,29,C,4,29.0,29,110349.625
24,1,1,"Bird, Miss. Ellen",female,29.00,0,0,PC 17483,221.7792,C97,S,8,29.0,29,107562.912
25,1,0,"Birnbaum, Mr. Jakob",male,25.00,0,0,13905,26.0000,29,C,29,148.0,"San Francisco, CA",12610.0
26,1,1,"Bishop, Mr. Dickinson H",male,25.00,1,0,11967,91.0792,B49,C,7,29.0,"Dowagiac, MI",44173.412
27,1,1,"Bishop, Mrs. Dickinson H (Helen Walton)",female,19.00,1,0,11967,91.0792,B49,C,7,29.0,"Dowagiac, MI",44173.412
28,1,1,"Bissette, Miss. Amelia",female,35.00,0,0,PC 17760,135.6333,C99,S,8,29.0,29,65782.15049999999
29,1,1,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",male,28.00,0,0,110564,26.5500,C52,S,D,29.0,"Stockholm, Sweden / Washington, DC",12876.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,3,0,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0,0,350406,7.8542,29,S,29,29.0,29,3809.287
1280,3,0,"Vovk, Mr. Janko",male,22.00,0,0,349252,7.8958,29,S,29,29.0,29,3829.463
1281,3,0,"Waelens, Mr. Achille",male,22.00,0,0,345767,9.0000,29,S,29,29.0,"Antwerp, Belgium / Stanton, OH",4365.0
1282,3,0,"Ware, Mr. Frederick",male,29.00,0,0,359309,8.0500,29,S,29,29.0,29,3904.2500000000005
1283,3,0,"Warren, Mr. Charles William",male,29.00,0,0,C.A. 49867,7.5500,29,S,29,29.0,29,3661.75
1284,3,0,"Webber, Mr. James",male,29.00,0,0,SOTON/OQ 3101316,8.0500,29,S,29,29.0,29,3904.2500000000005
1285,3,0,"Wenzel, Mr. Linhart",male,32.50,0,0,345775,9.5000,29,S,29,298.0,29,4607.5
1286,3,1,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,38.00,0,0,2688,7.2292,29,C,C,29.0,29,3506.162
1287,3,0,"Widegren, Mr. Carl/Charles Peter",male,51.00,0,0,347064,7.7500,29,S,29,29.0,29,3758.75
1288,3,0,"Wiklund, Mr. Jakob Alfred",male,18.00,1,0,3101267,6.4958,29,S,29,314.0,29,3150.463
1289,3,0,"Wiklund, Mr. Karl Johan",male,21.00,1,0,3101266,6.4958,29,S,29,29.0,29,3150.463
1290,3,1,"Wilkes, Mrs. James (Ellen Needs)",female,47.00,1,0,363272,7.0000,29,S,29,29.0,29,3395.0
1291,3,0,"Willer, Mr. Aaron (""Abi Weller"")",male,29.00,0,0,3410,8.7125,29,S,29,29.0,29,4225.5625
1292,3,0,"Willey, Mr. Edward",male,29.00,0,0,S.O./P.P. 751,7.5500,29,S,29,29.0,29,3661.75
1293,3,0,"Williams, Mr. Howard Hugh ""Harry""",male,29.00,0,0,A/5 2466,8.0500,29,S,29,29.0,29,3904.2500000000005
1294,3,0,"Williams, Mr. Leslie",male,28.50,0,0,54636,16.1000,29,S,29,14.0,29,7808.500000000001
1295,3,0,"Windelov, Mr. Einar",male,21.00,0,0,SOTON/OQ 3101317,7.2500,29,S,29,29.0,29,3516.25
1296,3,0,"Wirz, Mr. Albert",male,27.00,0,0,315154,8.6625,29,S,29,131.0,29,4201.3125
1297,3,0,"Wiseman, Mr. Phillippe",male,29.00,0,0,A/4. 34244,7.2500,29,S,29,29.0,29,3516.25
1298,3,0,"Wittevrongel, Mr. Camille",male,36.00,0,0,345771,9.5000,29,S,29,29.0,29,4607.5
1299,3,0,"Yasbeck, Mr. Antoni",male,27.00,1,0,2659,14.4542,29,C,C,29.0,29,7010.287
1300,3,1,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.00,1,0,2659,14.4542,29,C,29,29.0,29,7010.287
1301,3,0,"Youseff, Mr. Gerious",male,45.50,0,0,2628,7.2250,29,C,29,312.0,29,3504.125
1302,3,0,"Yousif, Mr. Wazli",male,29.00,0,0,2647,7.2250,29,C,29,29.0,29,3504.125
1303,3,0,"Yousseff, Mr. Gerious",male,29.00,0,0,2627,14.4583,29,C,29,29.0,29,7012.2755
1304,3,0,"Zabour, Miss. Hileni",female,14.50,1,0,2665,14.4542,29,C,29,328.0,29,7010.287
1305,3,0,"Zabour, Miss. Thamine",female,29.00,1,0,2665,14.4542,29,C,29,29.0,29,7010.287
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.50,0,0,2656,7.2250,29,C,29,304.0,29,3504.125
1307,3,0,"Zakarian, Mr. Ortin",male,27.00,0,0,2670,7.2250,29,C,29,29.0,29,3504.125
1308,3,0,"Zimmerman, Mr. Leo",male,29.00,0,0,315082,7.8750,29,S,29,29.0,29,3819.375

g. Round the values of "fare" column and add '$' sign in front of them by applying a lambda function.

In [63]:
#g

df["fare"] = df["fare"].apply(lambda x : str(round(int(x),0)) + '$') 
df

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,fare_AMD
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211$,B5,S,2,29.0,"St Louis, MO",102498.6875
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151$,C22 C26,S,11,29.0,"Montreal, PQ / Chesterville, ON",73501.75
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151$,C22 C26,S,29,29.0,"Montreal, PQ / Chesterville, ON",73501.75
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151$,C22 C26,S,29,135.0,"Montreal, PQ / Chesterville, ON",73501.75
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151$,C22 C26,S,29,29.0,"Montreal, PQ / Chesterville, ON",73501.75
5,1,1,"Anderson, Mr. Harry",male,48.00,0,0,19952,26$,E12,S,3,29.0,"New York, NY",12876.75
6,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.00,1,0,13502,77$,D7,S,10,29.0,"Hudson, NY",37809.775499999996
7,1,0,"Andrews, Mr. Thomas Jr",male,39.00,0,0,112050,0$,A36,S,29,29.0,"Belfast, NI",0.0
8,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.00,2,0,11769,51$,C101,S,D,29.0,"Bayside, Queens, NY",24967.412
9,1,0,"Artagaveytia, Mr. Ramon",male,71.00,0,0,PC 17609,49$,29,C,29,22.0,"Montevideo, Uruguay",24009.537
10,1,0,"Astor, Col. John Jacob",male,47.00,1,0,PC 17757,227$,C62 C64,C,29,124.0,"New York, NY",110349.625
11,1,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.00,1,0,PC 17757,227$,C62 C64,C,4,29.0,"New York, NY",110349.625
12,1,1,"Aubart, Mme. Leontine Pauline",female,24.00,0,0,PC 17477,69$,B35,C,9,29.0,"Paris, France",33610.5
13,1,1,"Barber, Miss. Ellen ""Nellie""",female,26.00,0,0,19877,78$,29,S,6,29.0,29,38242.25
14,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.00,0,0,27042,30$,A23,S,B,29.0,"Hessle, Yorks",14550.0
15,1,0,"Baumann, Mr. John D",male,29.00,0,0,PC 17318,25$,29,S,29,29.0,"New York, NY",12573.625
16,1,0,"Baxter, Mr. Quigg Edmond",male,24.00,0,1,PC 17558,247$,B58 B60,C,29,29.0,"Montreal, PQ",120047.588
17,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.00,0,1,PC 17558,247$,B58 B60,C,6,29.0,"Montreal, PQ",120047.588
18,1,1,"Bazzani, Miss. Albina",female,32.00,0,0,11813,76$,D15,C,8,29.0,29,37001.474500000004
19,1,0,"Beattie, Mr. Thomson",male,36.00,0,0,13050,75$,C6,C,A,29.0,"Winnipeg, MN",36492.2245
20,1,1,"Beckwith, Mr. Richard Leonard",male,37.00,1,1,11751,52$,D35,S,5,29.0,"New York, NY",25488.787
21,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.00,1,1,11751,52$,D35,S,5,29.0,"New York, NY",25488.787
22,1,1,"Behr, Mr. Karl Howell",male,26.00,0,0,111369,30$,C148,C,5,29.0,"New York, NY",14550.0
23,1,1,"Bidois, Miss. Rosalie",female,42.00,0,0,PC 17757,227$,29,C,4,29.0,29,110349.625
24,1,1,"Bird, Miss. Ellen",female,29.00,0,0,PC 17483,221$,C97,S,8,29.0,29,107562.912
25,1,0,"Birnbaum, Mr. Jakob",male,25.00,0,0,13905,26$,29,C,29,148.0,"San Francisco, CA",12610.0
26,1,1,"Bishop, Mr. Dickinson H",male,25.00,1,0,11967,91$,B49,C,7,29.0,"Dowagiac, MI",44173.412
27,1,1,"Bishop, Mrs. Dickinson H (Helen Walton)",female,19.00,1,0,11967,91$,B49,C,7,29.0,"Dowagiac, MI",44173.412
28,1,1,"Bissette, Miss. Amelia",female,35.00,0,0,PC 17760,135$,C99,S,8,29.0,29,65782.15049999999
29,1,1,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",male,28.00,0,0,110564,26$,C52,S,D,29.0,"Stockholm, Sweden / Washington, DC",12876.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,3,0,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0,0,350406,7$,29,S,29,29.0,29,3809.287
1280,3,0,"Vovk, Mr. Janko",male,22.00,0,0,349252,7$,29,S,29,29.0,29,3829.463
1281,3,0,"Waelens, Mr. Achille",male,22.00,0,0,345767,9$,29,S,29,29.0,"Antwerp, Belgium / Stanton, OH",4365.0
1282,3,0,"Ware, Mr. Frederick",male,29.00,0,0,359309,8$,29,S,29,29.0,29,3904.2500000000005
1283,3,0,"Warren, Mr. Charles William",male,29.00,0,0,C.A. 49867,7$,29,S,29,29.0,29,3661.75
1284,3,0,"Webber, Mr. James",male,29.00,0,0,SOTON/OQ 3101316,8$,29,S,29,29.0,29,3904.2500000000005
1285,3,0,"Wenzel, Mr. Linhart",male,32.50,0,0,345775,9$,29,S,29,298.0,29,4607.5
1286,3,1,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,38.00,0,0,2688,7$,29,C,C,29.0,29,3506.162
1287,3,0,"Widegren, Mr. Carl/Charles Peter",male,51.00,0,0,347064,7$,29,S,29,29.0,29,3758.75
1288,3,0,"Wiklund, Mr. Jakob Alfred",male,18.00,1,0,3101267,6$,29,S,29,314.0,29,3150.463
1289,3,0,"Wiklund, Mr. Karl Johan",male,21.00,1,0,3101266,6$,29,S,29,29.0,29,3150.463
1290,3,1,"Wilkes, Mrs. James (Ellen Needs)",female,47.00,1,0,363272,7$,29,S,29,29.0,29,3395.0
1291,3,0,"Willer, Mr. Aaron (""Abi Weller"")",male,29.00,0,0,3410,8$,29,S,29,29.0,29,4225.5625
1292,3,0,"Willey, Mr. Edward",male,29.00,0,0,S.O./P.P. 751,7$,29,S,29,29.0,29,3661.75
1293,3,0,"Williams, Mr. Howard Hugh ""Harry""",male,29.00,0,0,A/5 2466,8$,29,S,29,29.0,29,3904.2500000000005
1294,3,0,"Williams, Mr. Leslie",male,28.50,0,0,54636,16$,29,S,29,14.0,29,7808.500000000001
1295,3,0,"Windelov, Mr. Einar",male,21.00,0,0,SOTON/OQ 3101317,7$,29,S,29,29.0,29,3516.25
1296,3,0,"Wirz, Mr. Albert",male,27.00,0,0,315154,8$,29,S,29,131.0,29,4201.3125
1297,3,0,"Wiseman, Mr. Phillippe",male,29.00,0,0,A/4. 34244,7$,29,S,29,29.0,29,3516.25
1298,3,0,"Wittevrongel, Mr. Camille",male,36.00,0,0,345771,9$,29,S,29,29.0,29,4607.5
1299,3,0,"Yasbeck, Mr. Antoni",male,27.00,1,0,2659,14$,29,C,C,29.0,29,7010.287
1300,3,1,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.00,1,0,2659,14$,29,C,29,29.0,29,7010.287
1301,3,0,"Youseff, Mr. Gerious",male,45.50,0,0,2628,7$,29,C,29,312.0,29,3504.125
1302,3,0,"Yousif, Mr. Wazli",male,29.00,0,0,2647,7$,29,C,29,29.0,29,3504.125
1303,3,0,"Yousseff, Mr. Gerious",male,29.00,0,0,2627,14$,29,C,29,29.0,29,7012.2755
1304,3,0,"Zabour, Miss. Hileni",female,14.50,1,0,2665,14$,29,C,29,328.0,29,7010.287
1305,3,0,"Zabour, Miss. Thamine",female,29.00,1,0,2665,14$,29,C,29,29.0,29,7010.287
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.50,0,0,2656,7$,29,C,29,304.0,29,3504.125
1307,3,0,"Zakarian, Mr. Ortin",male,27.00,0,0,2670,7$,29,C,29,29.0,29,3504.125
1308,3,0,"Zimmerman, Mr. Leo",male,29.00,0,0,315082,7$,29,S,29,29.0,29,3819.375

**Problem 13:**<br>
a. Find all names and ages in the text given below using regex and create dictionary where names are keys and ages are values.

In [80]:
text = "I'm Jonh and I'm 12 year old, Jack is 23 and Suzan is 45 and 2132 they all earning $100"
import re
name = r"[A-Z][a-z]+"
age = r"\b[0-9][0-9]\b"
names = re.findall(name, text)
ages = re.findall(age,text)
print (names)
print(ages)
dict_p = dict(zip(names,ages))
print(dict_p)

['Jonh', 'Jack', 'Suzan']
['12', '23', '45']
{'Jonh': '12', 'Jack': '23', 'Suzan': '45'}

b. Substitute all email endings in the text given below with "@hogwarts.com" using regex.

In [ ]:
my_t = "My name is Harry, my e-mail is HarryPotter@aua.am, I need to send my statement of purpose to careers@aua.am"
pattern=r'@[\w\.-]+'
newstr = re.sub(pattern, "", my_t)
   

print(newstr)

**Problem 14**
<br>Read "data.txt" file attached and get all phone numbers and email addresses into separate lists using regex.

In [ ]:
b = open("data.txt", 'r')
text = b.read()
b.close()
phone = r'[0-9]+-[0-9]+-[0-9]+'
numbers = re.findall(phone, text)
mail = r'[\w.-]+@[\w.-]+'
emails = re.findall(mail, text)
print(numbers)
print(emails)

***Problem 15***<br>Create a class of a human that has data attribute "nationality" as Armenian.<br> Make sure that the class instances of human class have arguments name, surname, profession and salary. <br>The class defined must have a method that returns an expression in this format: "Hi, I am "name" "surname". I am a/an "profession" and I earn "salary" a month."<br>
Create one or more isntancses of the class and call the class method defined on it or them.

In [ ]:
class Person:
    def __init__(self, name, surname, profession, salary):
        self.nationality = "Armenian"
        self.name = name
        self.surname = surname
        self.profession = profession
        self.salary = salary
        

    def displayPerson(self):
        print ("Hi, I am " + str(self.name) + str(self.surname) + ". I am a " + str(self.profession) + " and I have " + str(self.salary) + " salary per month")
        
x = Person("Anna ", "Vardanyan", "doctor", "2000$")
x.displayPerson()